<%- include('../../../partials/header.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-10 my-5">
            <div class="card card-body mx-5 p-5">
                <h5 class="my-3"><%= title %> </h5>
                <form action="/posts/create" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Enter Your Post Title</label>
                        <input type="text" name="title" id="title"
                            class="form-control <%= error.title ? 'is-invalid' : '' %> "
                            value="<%= value.title ? value.title : '' %> ">
                        <div class="invalid-feedback">
                            <%= error.title %>
                        </div>
                    </div>
                    <div class="form-grop">
                        <label for="tiny-mce-post-body">Enter Your Post Body</label>
                        <textarea name="body" id="tiny-mce-post-body"
                            class="form-control <%= error.body ? 'is-invalid' : '' %> "><%= value.body ? value.body : '' %></textarea>
                        <div class="invalid-feedback">
                            <%= error.body %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags">Enter Your tags(max 10)</label>
                        <input type="text" name="tags" id="tags" class="form-control"
                            value="<%= value.tags ? value.tags : '' %> " placeholder="tag1 tag2 tgg3">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Upload
                            </span>
                        </div>
                        <div class="custom-file">
                            <input type="file" id="inpitGruopFile" name="post-thumbnail" class="custom-file-input">
                            <label for="inpitGruopFile" class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Create Post">
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<%- include('../../../partials/footer.ejs') %>
<script src="https://cdn.tiny.cloud/1/49huo4g2zz13h97uro60tsiwffwv9hiwm5k2g66dukrfnn3p/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script src="/scripts/tinymce.js"></script>

<script>
    $('#inpitGruopFile').on('change', function (e) {
        let filename = e.target.files[0].name
        $(this).next('.custom-file-label').html(filename)
    })
</script>
</body>

</html>